.add-your-type {
    padding: 1em 6em;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FD7B0F 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 1em;
    opacity: 0.90;

    font: normal normal normal 13px/17px Segoe UI;
    letter-spacing: 0px;
    color: white;
    cursor: pointer;
    transition: background-color .15s ease-in, color .15s ease-in;
}

@media all and (max-width: 767.98px){
    .add-your-type{
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media all and (max-width: 575.98px){
    .add-your-type{
        padding-left: 1.5em;
        padding-right: 1.5em;
        order: 2;
    }
}

.add-your-type:hover{
    background-color: white;
}

.add-your-type:hover .add-your-type-href{
    color: #474747;
}

.add-your-type-href{
    width: 100%;
    font: normal normal normal 13px/17px Segoe UI;
    letter-spacing: 0px;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: color .15s ease-in;
}

/*.add-your-type-href:hover{*/
/*    color: #474747;*/
/*}*/

.add-your-type-icon.fas{
    margin-right: 0.3em;
    opacity: 0.9;
}