.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 2em 1em 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    position: fixed;
    top: 0;
    width: calc(100% - 20%);
}

@media all and (max-width: 1499.98px){
    .header{
        width: calc(100% - 300px);
    }
}

@media all and (max-width: 991.98px){
    .header{
        width: 100%;
    }
}