.search-bar {
    width: 35%;
}

@media all and (max-width: 575.98px){
    .search-bar{
        margin-bottom: 15px;
        width: 100%;
    }
}

.search-bar-input {
    width: 100%;
    background: #FD7B0F 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    opacity: 0.9;
    border-radius: 1em;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    border-bottom: none;
    color: white;
    font: normal normal normal 13px/17px Segoe UI;
    letter-spacing: 0px;
    transition: background-color .15s ease-in, color .15s ease-in;
}

.search-bar-input:focus{
    background-color: white;
    color: #474747;
}

.search-bar-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.search-bar-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.search-bar-input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.search-bar-input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #474747;
    opacity: 1; /* Firefox */
}

.search-bar-input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #474747;
}

.search-bar-input:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: #474747;
}