body {
    margin: 0;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background: #FC9700E6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;

    border: none;
    width: 50%;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

.form-input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 1em;
    margin: 1em;
    width: 100%;
    max-width: 25em;
    color: white;
    outline: none;
}

::placeholder {
    color: white;
    border: none;
    opacity: 0.75;
}

@media only screen and (max-device-width: 420px) {
    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        height: 35vh;
        width: 80%;
        margin: auto;
    }

    img {
        width: 80%;
        margin: auto;
    }
}

.base-container {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    background: transparent linear-gradient(180deg, #F94848 0%, #FB6731 59%, #FC7A23 100%) 0% 0% no-repeat padding-box;
}


nav {
    width: 20vw;
    height: 100%;
    background-color: rgba(249, 72, 72, .32);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.logo-href{
    margin: 1em auto 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo{
    width: 80%;
    opacity: 95%;
}

a {
    text-decoration: none;
    display: inline-block;
}

li > i {
    font-size: 1.5em;
}

.button {
    border: 1px solid #FFFFFF;
    opacity: 0.95;
    border-radius: 0.8em;
    margin-left: 1em;
    text-align: center;
    color: white;
    padding: 0.2em;
    width: 70%;
}

ul {
    list-style-type: none;
    color: white;
    font: normal normal normal 13px/17px Segoe UI;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    opacity: 0.95;
    height: 100%;
    width: calc(100% - 5em);
    margin: auto;
    padding: 0;
}

li {
    text-align: center;
    margin-bottom: 1em;
}

main {
    width: 80%;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 0em 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    position: relative;
}

.add-your-type {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FD7B0F 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 1em;
    opacity: 0.90;

    width: 20%;
    height: 80%;

    font: normal normal normal 13px/17px Segoe UI;
    letter-spacing: 0px;
    color: white;
}

.add-your-type > i {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
    opacity: 0.9;
}

.search-bar {
    width: 35%;
}

.search-bar > input {
    width: 100%;
    height: 80%;
    background: #FD7B0F 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    opacity: 0.9;
    border-radius: 1em;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    border-bottom: none;
    color: white;
    font: normal normal normal 13px/17px Segoe UI;
    letter-spacing: 0px;
}

.fa, .fas {
    width: 1em;
}

.avatar {
    vertical-align: top;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.no-valid {
    border: 2px solid red;
    border-radius: 1em;
    outline: none;
}