section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.types > div > img {
height: 50%;
width: 100%;
object-fit: cover;
border-radius: 1em 1em 0 0;
}

.types > div > div {
    height: 50%;
    color: #474747;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.95);
    flex-wrap: wrap;
}

.social-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.types > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}