.type-form-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-type-form {
    display: flex;
    flex-direction: column;
}
