body {
    margin: 0;
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

.js-content{
    width: 100%;
    height: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px 35px;
    margin: .5em;
    color: white;
    font-size: 13px;
    line-height: normal;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    background: #FC9700E6 0% 0% no-repeat padding-box;
    transition: background-color .15s ease-in, color .15s ease-in;
}

button:hover{
    background-color: white;
    color: #474747;
    outline: none;
}

button:active,
button:focus{
    outline: none;
}

.btn-w-md{
    min-width: 200px;
}

.form-input{
    margin-bottom: 20px;
    padding: 1em;
    border: none;
    width: 100%;

    color: white;
    outline: none;
    border-bottom: 1px solid white;
    background-color: transparent;
}

::placeholder {
    color: white;
    border: none;
    opacity: 0.75;
}

@media only screen and (max-device-width: 420px) {
    * {
        /*font-size: 36px;*/
    }

    .login-container, .logo {
        /*width: 100%;*/
    }

    form {
        /*height: 35vh;*/
        /*width: 80%;*/
        margin: 0 auto;
    }

    img {
        /*width: 80%;*/
        margin: 0 auto;
    }
}

.base-container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100vh;
    background: transparent linear-gradient(180deg, #F94848 0%, #FB6731 59%, #FC7A23 100%) 0% 0% no-repeat padding-box;
}

.img-fluid{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

li > i {
    font-size: 1.5em;
}

.button {
    border: 1px solid #FFFFFF;
    opacity: 0.95;
    border-radius: 0.8em;
    margin-left: 1em;
    text-align: center;
    color: white;
    padding: 1em 0.3em;
    /*width: 70%;*/
    transition: background-color .15s ease-in, color .15s ease-in, color .15s ease-in;
}

.button:hover{
    background-color: white;
    color: #474747;
}

.button-secondary{
    padding: 10px 35px;
    margin: .5em;
    color: #474747;
    font-size: 13px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    box-sizing: border-box;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    transition: background-color .15s ease-in, color .15s ease-in;
}

.button-secondary:hover{
    background-color: #FC9700E6;
    color: #FFFFFF;
    outline: none;
}

.button-secondary:active:focus{
    outline: none;
}

main {
    margin-top: 76px;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 76px);
    overflow-y: auto;
}

@media all and (max-width: 991.98px){
    main{
        width: 100%;
    }
}

@media all and (max-width: 575.98px){
    main{
        margin-top: 134px;
        height: calc(100vh - 134px);
    }
}


.fa, .fas {
    width: 1em;
}

.no-valid {
    border: 2px solid red;
    border-radius: 1em;
    outline: none;
}