body {
    margin: 0;
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

.js-content{
    width: 100%;
    height: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px 35px;
    margin: .5em;
    color: white;
    font-size: 13px;
    line-height: normal;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    background: #FC9700E6 0% 0% no-repeat padding-box;
    transition: background-color .15s ease-in, color .15s ease-in;
}

button:hover{
    background-color: white;
    color: #474747;
    outline: none;
}

button:active,
button:focus{
    outline: none;
}

select{
    margin: 0 0 20px;
    display: block;
    font-size: 13.3333px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.3;
    padding: 1em 1.4em 1em 1em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ffffff;
    box-shadow: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, transparent 0%, transparent 0%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

select:hover {
    border-color: #FC9700E6;
}

select:focus {
    border-color: #FC9700E6;
    box-shadow: none;
    color: #FFFFFF;
    outline: none;
}

select option {
    font-weight:normal;
    color: #474747;
    line-height: 1.5em;
}

*[dir="rtl"] select, :root:lang(ar) select, :root:lang(iw) select {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

select:disabled, select[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

select:disabled:hover, select[aria-disabled=true] {
    border-color: #aaa;
}

.btn-w-md{
    min-width: 200px;
}

.btn-submit-margin-top{
    margin-top: 30px;
}

.form-input{
    margin-bottom: 20px;
    padding: 1em;
    border: none;
    width: 100%;

    color: white;
    outline: none;
    border-bottom: 1px solid white;
    background-color: transparent;
}

::placeholder {
    color: white;
    border: none;
    opacity: 0.75;
}

@media only screen and (max-device-width: 420px) {
    * {
        /*font-size: 36px;*/
    }

    .login-container, .logo {
        /*width: 100%;*/
    }

    form {
        /*height: 35vh;*/
        /*width: 80%;*/
        margin: 0 auto;
    }

    img {
        /*width: 80%;*/
        margin: 0 auto;
    }
}

.base-container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100vh;
    background: transparent linear-gradient(180deg, #F94848 0%, #FB6731 59%, #FC7A23 100%) 0% 0% no-repeat padding-box;
}

.img-fluid{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

li > i {
    font-size: 1.5em;
}

.button {
    border: 1px solid #FFFFFF;
    opacity: 0.95;
    border-radius: 0.8em;
    margin-left: 1em;
    text-align: center;
    color: white;
    padding: 1em 0.3em;
    /*width: 70%;*/
    transition: background-color .15s ease-in, color .15s ease-in, color .15s ease-in;
}

.button:hover{
    background-color: white;
    color: #474747;
}

.button-secondary{
    padding: 10px 35px;
    margin: .5em;
    color: #474747;
    font-size: 13px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    box-sizing: border-box;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    transition: background-color .15s ease-in, color .15s ease-in;
}

.button-secondary:hover{
    background-color: #FC9700E6;
    color: #FFFFFF;
    outline: none;
}

.button-secondary:active:focus{
    outline: none;
}

main {
    padding-bottom: 40px;
    margin-top: 76px;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 76px);
    overflow-y: auto;
}

@media all and (max-width: 991.98px){
    main{
        width: 100%;
    }
}

@media all and (max-width: 575.98px){
    main{
        margin-top: 134px;
        height: calc(100vh - 134px);
    }
}


.fa, .fas {
    width: 1em;
}

.no-valid {
    border: 2px solid red;
    border-radius: 1em;
    outline: none;
}

.page-title{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.form-center{
    margin: 0 auto;
    max-width: 475px;
    width: 100%;
}