.types-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 2em;
}

@media all and (max-width: 1459.98px){
    .types-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (max-width: 1199.98px){
    .types-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 575.98px){
    .types-wrapper{
        grid-template-columns: repeat(1, 1fr);
        padding: 2em 1em;
    }
}

.type-image-wrapper{
    height: 50%;
    width: 100%;
}

.type-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.type-content {
    height: 50%;
    color: #474747;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.95);
    flex-wrap: wrap;
}

.type-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    box-shadow: 1px 1px 15px rgba(1, 1, 3, .4);
    border-radius: 1em 1em 0 0;
}

.type-title{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.type-description{
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;

    font-size: 14px;
    line-height: normal;
}

.type-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #474747;
}

.type-social-margin-bottom{
    margin-bottom: 20px;
}

.type-href-title:link, .type-href-title:visited{
    color: #474747;
}

.type-href-title{
    transition: color .15s ease-in;
}

.fa-heart,
.fa-heart-broken{
    color: #474747;
    font-size: 18px;
    transition: color .15s ease-in;
}

.type-href-title:active,
.type-href-title:hover{
    color: #f94848;
}

.type-social-icon{
    color: #C80A2E;
}

.fa-heart:hover, .fa-heart-broken:hover{
    color: #C80A2E;
    cursor: pointer;
}
.fa-heart:active, .fa-heart-broken:active{
    color: #fa0032;
}
