.user-delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-edit-form {
    display: flex;
    flex-direction: column;
}

.user-edit-username-input{
    background-color: transparent;
    border: none;
    text-align: left;
    font-weight: bold;
    padding: 1em;
    margin: 1em;
    width: 100%;
    max-width: 25em;
    color: white;
    outline: none;
}

.user-delete-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    width: 30%;
}