.user-details-wrapper{
    padding: 0 15px;
    margin: 50px auto 0;
    max-width: 505px;
    width: 100%;
}

.user-details{
    padding: 20px;
    position: relative;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 15px rgba(1, 1, 3, .4);
}

.user-details-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.user-details-info-wrapper{
    display: flex;
}

.user-details-avatar{
    width: 128px;
    height: 128px;
}

@media all and (max-width: 359.98px){
    .user-details-info-wrapper{
        flex-direction: column;
    }
}

.user-details-content{
    margin-left: 15px;
}

@media all and (max-width: 359.98px){
    .user-details-content{
        margin-top: 10px;
        margin-left: 0;
    }
}

.user-details-data{
    font-size: 14px;
    line-height: normal;
}

.user-details-data:not(:last-of-type){
    margin: 0 0 5px;
}

.user-details-data:last-of-type{
    margin: 0;
}

.user-details-management-buttons{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.user-details-management-button:not(:last-child){
    margin-right: 0;
    margin-bottom: 15px;
}

.user-delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-edit-form {
    display: flex;
    flex-direction: column;
}

.user-edit-username-input{
    margin: 20px;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    max-width: 25em;
    color: white;
    outline: none;
    text-align: center;
}

.user-delete-avatar-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-delete-avatar{
    object-fit: cover;
    vertical-align: top;
    border-radius: 50%;
    width: 138px;
    height: 138px;
    border: 10px solid rgba(0, 0, 0, 0.2);
}

